/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: #f5f7fa;
  color: #333;
}

img {
  max-width: 100%;
  display: block;
}

/* ===== Header ===== */
header {
  background: #003366;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

.logo h1 {
  font-size: 1.4rem;
}

.logo a {
  color: white;
  text-decoration: none;
}

/* ===== Navigation ===== */
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
  text-decoration-color: rgb(250, 248, 248);
  
}

#menuBtn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* ===== Main ===== */
main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.intro {
  text-align: center;
  margin-bottom: 2rem;
}

/* ===== Cards ===== */
.card-container {
  display: grid;
  gap: 1.5rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 0.5rem 0;
}

.card button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  background: #fcc203;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


.card button:hover {
  background: #0055aa;
}

.submit-review button {
  background: #003366;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background: #0055aa;
}

/* ===== Footer ===== */
footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer a {
  color: #fade07;
  text-decoration: none;
}




/* ===== Responsive Design ===== */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #003366;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    padding: 1rem;
  }

  nav ul.show {
    display: flex;
  }

  #menuBtn {
    display: block;
  }
}



