@media only screen and (min-width: 48rem) {

  header {
    flex-direction: row;
  }

  #hamburger {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 10rem;
    background: none;
  }

  nav a {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  nav a:hover,
  nav a:focus {
    background-color: rgba(248, 241, 36, 0.2);
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}