/* Show nav normally on large screens */
@media only screen and (min-width: 40rem) {

    #hamburger {
        display: none; /* hide hamburger */
    }

    :root {
    --primary-color: #4109f85b;   /* Dark Blue */
    --nav-color: #650b7bc4;     /* Nav background dark */
    --light-bg: #f4f4f9;         /* Page background */
    --card-bg: #fff;             /* Cards background */
    --text-dark: #222;
    --font-body: 'Roboto', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    h2 {
    text-align: center;

    }

    
    .gallery {
    figure {
        margin: 10px;
    }
}


    
}



